/* *********************************
           Variables
  ********************************** */
$slide-height: 100%;
$slide-width: 100%;
$color-gold: #FFD700;

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main {
  height: 100%;
  margin-top: 1px; /* smooth scrolling */
  -webkit-overflow-scrolling: touch;
}

.vertical-slide {
  background-attachment: fixed;
  width: $slide-width;
  height: $slide-height;
  position: relative;
  padding: 30px;
}

.carousel-inner {
  img {
    margin: auto;
  }
}

#vertical-slide2 {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#vertical-slide1 {
  background: {
    color: white;
  }



}
